<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>SEMANA IGNACIANA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!gameOver && !hasWon">
  <p>Puntuación: {{ score }}</p>

  <ng-container *ngIf="!todosOcultos">
    <div class="sobres-container">
      <ion-card *ngFor="let sobre of [0,1,2,3]; let i = index"
                (click)="abrirSobre(i)"
                [class.abriendo]="sobreAnimandoIndex === i"
                id="sobres">
        <ion-card-content>
          <ion-img src="assets/sobreSafa.png" alt="Sobre cerrado"></ion-img>
          <p>Toca para abrir el sobre</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ion-card *ngIf="sobreAbierto && estampitas.length > 0" class="estampitas">
    <ion-card-content>
      <ion-img [src]="estampitas[0].imagen" alt="Imagen de la estampita"></ion-img>
      <p>¿Quién es este santo?</p>
      <ion-button
        *ngFor="let option of currentOptions"
        [disabled]="disabledButtons.has(option)"
        (click)="selectAnswer(option)">
        {{ option }}
      </ion-button>
      <p *ngIf="correctAnswer" style="color: green;">¡Respuesta correcta!</p>
      <p *ngIf="!correctAnswer && disabledButtons.size > 0" style="color: red;">Respuesta incorrecta, intenta de nuevo.</p>
    </ion-card-content>
  </ion-card>
  <p>Tiempo restante: {{ timer }} segundos</p>
</ion-content>
<ion-content *ngIf="gameOver || hasWon">
  <ion-card *ngIf="hasWon">
    <ion-card-content>
      <h2 style="color: green;">¡Has ganado!</h2>
      <p>Felicidades, {{ playerName }}. Has completado el juego con {{ score }} puntos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="gameOver && !hasWon">
    <ion-card-content>
      <h2 style="color: red;">¡Has perdido!</h2>
      <p>Se acabó el tiempo, {{ playerName }}. Tu puntuación final es {{ score }}.</p>
    </ion-card-content>
  </ion-card>
</ion-content>





