ion-toolbar
{
 --background: white;
 --color: black;
}

ion-content
{
  --background: #006b9b;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estampitas
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  margin-top: 2%;
  transition: transform 0.5s ease-in-out, opacity 0.5s;
}

.sobres-container
{
  display: grid;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1024px)
{
  .sobres-container
  {
    grid-template-columns: repeat(4, 1fr);
  }

  .estampitas
  {
    max-width: 40%;
  }
}

@media (max-width: 1023px)
{
  .sobres-container
  {
    grid-template-columns: repeat(2, 1fr);
  }

  .estampitas
  {
    max-width: 60%;
  }
}

@media (max-width: 600px)
{
  .sobres-container
  {
    grid-template-columns: repeat(1, 1fr);
  }

  .estampitas
  {
    max-width: 90%;
  }
}

.abriendo
{
  animation: abrirSobre 1s forwards;
}

@keyframes abrirSobre
{
  0%
  {
    transform: scale(1);
    opacity: 1;
  }

  100%
  {
    transform: scale(1.1);
    opacity: 0;
  }
}

ion-img
{
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 20px auto;
  display: block;
}

ion-button
{
  --background: #006b9b;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.correcto
{
  color: green;
}

.incorrecto
{
  color: red;
}

.ganado
{
  color: green;
}

.perdido
{
  color: red;
}

ion-title
{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.estampitas1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
